@CHARSET "ISO-8859-1";

/* @font-face {
    font-family: 'samurai';
    src: local('☺'), url('../samurai.ttf')  format('truetype');
} */

@font-face {
    font-family: 'samurai';
    src: url('samurai-webfont.eot');
    src: url('samurai-webfont.eot?#iefix') format('embedded-opentype'),
         url('samurai-webfont.woff') format('woff'),
         url('../samurai.ttf') format('truetype'),
         url('samurai-webfont.svg#samurairegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: samurai;
  height: 100%;
  width: 100%;
}

button {
  font-family: samurai;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border: 2px outset;
}

button:active {
  background: rgba(255, 255, 255, 0.5);
  border: 2px inset;
}

canvas {
  position: absolute;
  width: inherit;
  height: inherit;
/*     width: 800px;
  height: 480px; */
}

#viewport {
  position: relative;
  margin: auto;
  width: 800px;
  height: 480px;
/*   background: url('./textures/samurai_background_800x480.png') no-repeat center center, black */
}

#menu {
  position: absolute;
  left: 20%;
  top: 85%;
}

#divChat {
  position: absolute;
  width: 100%;
  top: 93%;
}

#chatbox {
  width: 80%;
  margin-left: 10%;
  font-family: samurai;
  background: rgba(255, 255, 255, .4);
}

#chatbox:focus {
  background: rgba(255, 255, 255, .75);
}

#cvsBg {
  z-index: -2;
}

#cvsFg {
  z-index: -1;
}

#status {
  position: absolute;
  width: 100%;
  display: block;
  top: 50%;
  text-align: center;
}

#tblList {
  /* display: block; */
  max-height: 300px;
  overflow-y: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

#divList {
  max-height: 300px;
  overflow: auto;
  position: relative;
  top: 10%;
}

#btnChat {
  
}